/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.layout {
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  background-color: #f43737;
  color: white;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 0;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  background: #fff;
  color: var(--ifm-font-color-base);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.card-expander {
  flex: 1;
}
