.figure {
  border: 1px solid #efefef;
  padding: 1rem;
  box-shadow: #efefef 2px 2px 4px;
  display: inline-block;
  margin: 0 2rem;
}

.figcaption {
  border-top: 1px solid #efefef;
  padding-top: 1rem;
  margin: 0;
  font-size: 0.875rem;
  text-align: left;
}

.figcaption p:last-child {
  margin-bottom: 0;
}

.figure + .figure,
.figure + p,
.figure + ul,
.figure + ol {
  margin-top: var(--ifm-paragraph-margin-bottom);
}
